<div class="w-full h-full py-8 bg-white">
    <div class="max-w-[1500px] mx-auto">
        <div class="text-center">
            <p class="text-4xl capitalize pop-pop">
                Trending This Week
            </p>

            <p class="text-xl capitalize pop-pop text-[#6c757d] py-5">
                Find a bright ideal to suit your taste with our great
                selection of suspension, wall, <br />
                floor and table lights.
            </p>
        </div>
        <div class="grid gap-6 p-5 md:grid-cols-3 lg:grid-cols-3">
            <div class="bg-[#f1f1f1]">
                <div
                    class="flex justify-between px-5 py-2 capitalize text-[#6c757d]"
                >
                    <div class="capitalize text-start">
                        <p>#LiVING</p>
                    </div>
                    <div class="text-end">
                        <p>NEW</p>
                    </div>
                </div>

                <div class="w-full h-full">
                    <div class="flex items-center justify-center">
                        <img
                            src="./assets/pics/product_1.png"
                            alt=""
                            class="py-5"
                        />
                    </div>
                    <div
                        class="flex flex-col items-center justify-center"
                    >
                        <div class="text-2xl text-[#495057] pop-pop">
                            <p>Wooden Chair</p>
                        </div>
                        <p class="text-center text-[#6c757d]">
                            This product is handcrafted by skilled
                            artisans, and <br />
                            therefore will have minor variations. Actual
                            product <br />
                            colour may vary from the images shown due to
                            lighting <br />
                            conditions.
                        </p>
                        <div class="py-4">
                            <p class="text-2xl text-black">
                                <del class="text-[#6c757d]"
                                    >$9.59.00</del
                                >
                                $5,69.00
                            </p>
                        </div>
                        <button class="py-2 text-2xl">Shop Now</button>
                    </div>
                </div>
            </div>
            <!-- ------------------- -->
            <div class="bg-[#f1f1f1]">
                <div
                    class="flex justify-between px-5 py-2 capitalize text-[#6c757d]"
                >
                    <div class="capitalize text-start">
                        <p>#LiVING</p>
                    </div>
                    <div class="text-end">
                        <p>NEW</p>
                    </div>
                </div>

                <div class="w-full h-full">
                    <div class="flex items-center justify-center">
                        <img
                            src="./assets/pics/product_2.png"
                            alt=""
                            class="py-5"
                        />
                    </div>
                    <div
                        class="flex flex-col items-center justify-center"
                    >
                        <div class="text-2xl text-[#495057] pop-pop">
                            <p>Wooden Table</p>
                        </div>
                        <p class="text-center text-[#6c757d]">
                            his Corner Table Can be used for coffee
                            snack <br />
                            breakfast like tea bread proper breakfast
                            with <br />
                            warming healthy you can serve anything on
                            <br />
                            the table easily safely.
                        </p>
                        <div class="py-4">
                            <p class="text-2xl text-black">
                                <del class="text-[#6c757d]"
                                    >$10,000.00</del
                                >
                                $8,599.00
                            </p>
                        </div>
                        <button class="py-2 text-2xl">Shop Now</button>
                    </div>
                </div>
            </div>
            <!-- -------------------------- -->
            <div class="bg-[#f1f1f1]">
                <div
                    class="flex justify-between px-5 py-2 capitalize text-[#6c757d]"
                >
                    <div class="capitalize text-start">
                        <p>#LiVING</p>
                    </div>
                    <div class="text-end">
                        <p>NEW</p>
                    </div>
                </div>

                <div class="w-full h-full">
                    <div class="flex items-center justify-center">
                        <img
                            src="./assets/pics/product_3.png"
                            alt=""
                            class="py-5"
                        />
                    </div>
                    <div
                        class="flex flex-col items-center justify-center"
                    >
                        <div class="text-2xl text-[#495057] pop-pop">
                            <p>Wooden Chair</p>
                        </div>
                        <p class="text-center text-[#6c757d]">
                            Folding chair making done through by <br />
                            handpolish which result in natural look and
                            <br />
                            its will matches with your furniture. ready
                            to <br />
                            use as no assembling required.
                        </p>
                        <div class="py-4">
                            <p class="text-2xl text-black">
                                <del class="text-[#6c757d]"
                                    >$7,000.00</del
                                >
                                $4,199.00
                            </p>
                        </div>
                        <button class="py-2 text-2xl">Shop Now</button>
                    </div>
                </div>
            </div>
            <!-- ----------------------------  -->
            <div class="bg-[#f1f1f1]">
                <div
                    class="flex justify-between px-5 py-2 capitalize text-[#6c757d]"
                >
                    <div class="capitalize text-start">
                        <p>#LiVING</p>
                    </div>
                    <div class="text-end">
                        <p>NEW</p>
                    </div>
                </div>

                <div class="w-full h-full">
                    <div class="flex items-center justify-center">
                        <img
                            src="./assets/pics/product_4.png"
                            alt=""
                            class="py-5"
                        />
                    </div>
                    <div
                        class="flex flex-col items-center justify-center"
                    >
                        <div class="text-2xl text-[#495057] pop-pop">
                            <p>Wooden Chair</p>
                        </div>
                        <p class="text-center text-[#6c757d]">
                            Good choice for use in the dining room,
                            living <br />
                            room, bedroom, backyard, kitchen, bar,
                            <br />
                            restaurants, cafe, etc. This dining table
                            Set will <br />
                            look great in your kitchen.
                        </p>
                        <div class="py-4">
                            <p class="text-2xl text-black">
                                <del class="text-[#6c757d]"
                                    >$11,000.00</del
                                >
                                $9,549.00
                            </p>
                        </div>
                        <button class="py-2 text-2xl">Shop Now</button>
                    </div>
                </div>
            </div>
            <!-- ----------------------------  -->
            <div class="bg-[#f1f1f1]">
                <div
                    class="flex justify-between px-5 py-2 capitalize text-[#6c757d]"
                >
                    <div class="capitalize text-start">
                        <p>#LiVING</p>
                    </div>
                    <div class="text-end">
                        <p>NEW</p>
                    </div>
                </div>

                <div class="w-full h-full">
                    <div class="flex items-center justify-center">
                        <img
                            src="./assets/pics/product_5.png"
                            alt=""
                            class="py-5"
                        />
                    </div>
                    <div
                        class="flex flex-col items-center justify-center"
                    >
                        <div class="text-2xl text-[#495057] pop-pop">
                            <p>Wooden Chair</p>
                        </div>
                        <p class="text-center">
                            Sturdy structure made of premium quality
                            <br />
                            engineered wood Made from European <br />
                            standard. Aesthetic, easy-to-clean design
                            <br />
                            with smooth edges diminish.
                        </p>
                        <div class="py-4">
                            <p class="text-2xl text-black">
                                <del class="text-[#6c757d]"
                                    >$10,000.00</del
                                >
                                $8,449.00
                            </p>
                        </div>
                        <button class="py-2 text-2xl">Shop Now</button>
                    </div>
                </div>
            </div>
            <!-- ----------------------------  -->
            <div class="bg-[#f1f1f1]">
                <div
                    class="flex justify-between px-5 py-2 capitalize text-[#6c757d]"
                >
                    <div class="capitalize text-start">
                        <p>#LiVING</p>
                    </div>
                    <div class="text-end">
                        <p>NEW</p>
                    </div>
                </div>

                <div class="w-full h-full">
                    <div class="flex items-center justify-center">
                        <img
                            src="./assets/pics/product_6.png"
                            alt=""
                            class="py-5"
                        />
                    </div>
                    <div
                        class="flex flex-col items-center justify-center"
                    >
                        <div class="text-2xl text-[#495057] pop-pop">
                            <p>Wooden Chair</p>
                        </div>
                        <p class="text-center">
                            Ideal for a long use cycle, it lends the
                            sofa <br> frame a rigid structure and retains it
                            shape <br> for a long time. The wood choice also
                            makes <br> the sofa resistant to warping.
                        </p>
                        <div class="py-4">
                            <p class="text-2xl text-black">
                                <del class="text-[#6c757d]"
                                    >$15,000.00</del
                                >
                                $12.449.00
                            </p>
                        </div>
                        <button class="py-2 text-2xl">Shop Now</button>
                    </div>
                </div>
            </div>
            <!-- ----------------------------  -->
        </div>
    </div>
</div>
