<!-- <footer class="pt-32 pb-6 bg-no-repeat bg-cover -mt-36" style="background-image: url(assets/images/footer_bg.png)">
    <div class="container mx-auto">
        <div class="md:flex md:justify-between">
            <div class="grid gap-5 md:grid-cols-3">
                <div class="mb-6 md:mb-0">
                    <a href="https://flowbite.com/" class="flex items-center space-x-3 text-5xl text-primary">
                        <img src="../assets/images/logo.png" alt="logo" class="mb-4 w-44 sm:w-28 lg:w-52">
                    </a>
                    <p class="mb-3 text-xl text-black/60">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <ul class="flex gap-5">
                        <li><a href="#"><i
                                    class="fa-brands fa-facebook-f bg-primary rounded w-12 h-12 text-white text-xl !flex justify-center items-center"></i></a>
                        </li>
                        <li><a href="#"><i
                                    class="fa-brands fa-twitter bg-primary rounded w-12 h-12 text-white text-xl !flex justify-center items-center"></i></a>
                        </li>
                        <li><a href="#"><i
                                    class="fa-brands fa-linkedin-in bg-primary rounded w-12 h-12 text-white text-xl !flex justify-center items-center"></i></a>
                        </li>
                        <li><a href="#"><i
                                    class="fa-brands fa-dribbble bg-primary rounded w-12 h-12 text-white text-xl !flex justify-center items-center"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="md:mx-auto">
                    <h2 class="mb-6 text-xl font-bold text-primary md:text-2xl">Quick Link</h2>
                    <ul class="text-xl text-black/60">
                        <li class="mb-3">
                            <a href="#" class="hover:text-primary">About Us</a>
                        </li>
                        <li class="mb-3">
                            <a href="#" class="hover:text-primary">Portfolio</a>
                        </li>
                        <li class="mb-3">
                            <a href="#" class="hover:text-primary">Help & FAQ’s</a>
                        </li>
                        <li class="mb-3">
                            <a href="#" class="hover:text-primary">Blog</a>
                        </li>
                        <li class="mb-3">
                            <a href="#" class="hover:text-primary">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="mx-auto">
                    <h2 class="mb-6 text-xl font-bold text-primary md:text-2xl">Contact Us</h2>
                    <div class="text-black/60">
                        <div class="flex items-center gap-5 mb-3 text-xl">
                            <div><i
                                    class="fa-solid fa-location-dot bg-primary rounded w-12 h-12 text-white text-xl !flex justify-center items-center"></i>
                            </div>
                            <p class="hover:text-primary">53 Main Street, 2nd Mountain 3rd Floor, New York</p>
                        </div>
                        <div class="flex items-center gap-5 mb-3 text-xl">
                            <div><i
                                    class="fa-solid fa-phone bg-primary rounded w-12 h-12 text-white text-xl !flex justify-center items-center"></i>
                            </div>
                            <p class="hover:text-primary">+012 (345) 678 99</p>
                        </div>
                        <div class="flex items-center gap-5 mb-3 text-xl">
                            <div><i
                                    class="fa-solid fa-envelope bg-primary rounded w-12 h-12 text-white text-xl !flex justify-center items-center"></i>
                            </div>
                            <p class="hover:text-primary">support@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-primary" />
        <div class="text-center">
            <p class="text-xl font-medium text-primary">Copyright © 2024. All Rights Reserved.</p>
        </div>
    </div>
</footer> -->

<footer class="w-full h-auto bg-white">
    <div class="max-w-[1500px] mx-5 md:mx-auto">
        <div class="py-4 mb-4">
            <img
                src="../src/assets/pics/logo-dark.png"
                alt=""
                srcset=""
                class="h-10 my-2 w-28"
            />
        </div>
        <hr class="text-[#6c757d] border-b-1">
        <br>
        <div class="grid px-2 md:grid-cols-4">
            <div class="">
                <p class="pt-2 text-bold pop-pop hover:text-primary">
                    657 ,Sokoto, Nigeria
                </p>
                <p class="pt-2 text-bold pop-pop hover:text-primary">
                    (+91)7-723-4608
                </p>
                <p class="pt-2 text-bold pop-pop hover:text-primary">
                    Demo@demo.com
                </p>
            </div>
            <div>
                <h5 class="mb-6 text-xl font-bold">Our Products</h5>
                <ul class="list-none footer-links">
                    <li class="mb-2">
                        <a href="#" class="text-[#343a40]"
                            >Best Sellers</a
                        >
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-[#343a40]">New In</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-[#343a40]">Chairs</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-[#343a40]">Sofas</a>
                    </li>
                </ul>
            </div>
            <div>
                <h5 class="mb-6 text-xl font-bold">Useful Links</h5>
                <ul class="list-none footer-links">
                    <li class="mb-2">
                        <a href="#" class="text-[#343a40]">About Us</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-[#343a40]">Blog</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-[#343a40]">FAQs</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-[#343a40]">Contact</a>
                    </li>
                </ul>
            </div>
            <div>
                <h5 class="mb-6 text-xl font-bold">
                    Newsletter signup
                </h5>

                <p class="text-[#343a40]">
                    Stay Updated on all that's new add noteworthy.
                </p>
                <form class="flex justify-center pt-5 sm:justify-start">
                    <div class="relative col-auto p-0">
                        <input
                            type="email"
                            class="py-1 transition-colors border-b focus:outline-none focus:border-primary focus:border-b-2"
                        />
                        <label
                            for="email"
                            class="absolute left-0 cursor-text text-[#343a40]"
                            >Your Email</label
                        >
                    </div>
                    <div class="mx-5 ">
                        <button
                            class="p-5 py-1 text-black border-b focus:outline-none focus:border-primary focus:border-b-2 pop-pop"
                        >
                            Subsribe
                        </button>
                    </div>
                </form>

                <div class="flex py-5 space-x-6 text-1xl">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-pinterest"></i>
                </div>
            </div>
        </div>

        <hr class="text-[#6c757d] border-b-1 mt-5">
        <p class="flex items-center justify-center py-3 pop-pop">Copyright © 2023 Name. All rights reserved.</p>
        <br>
    </div>

</footer>
