<link rel="stylesheet" href="assets/css/icons.css">
<link href="assets/css/taiwind.min.css" rel="stylesheet">
<link rel="shortcut icon" href="../assets/images/fevicon.png">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
  rel="stylesheet"
/>
<link
rel="stylesheet"
href="assets/libs/swiper/swiper-bundle.min.css"
/>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css"
integrity="sha512-d0olNN35C6VLiulAobxYHZiXJmq+vl+BGIgAxQtD5+kqudro/xNMvv2yIHAciGHpExsIbKX3iLg+0B6d0k4+ZA=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
/>

<style>
.pop-pop {
    font-family: "Roboto", sans-serif;
}

.btn2 span:first-child {
    transform: translateX(-101%);
    transition: transform 0.3s ease-in;
}

.btn2:hover span {
    transform: translateX(0);
}

.slider-image {
    background-color: #fff;
    border-radius: 40% 50px;
    padding: 0 60px;
    position: relative;
    z-index: 1;
}

</style>
