<div class="w-full bg-[#b5d7d6]">
    <div class="w-full h-full p-10 mx-auto text-black md:py-40">
        <div class="grid md:grid-cols-2 lg:max-w-[1500px] mx-auto ">
            <div class="flex flex-col items-start justify-center">
                <div class="mx-5 my-10 md:my-20">

                    <h1
                        class="pb-3 text-2xl font-bold md:text-center lg:pb-6 sm:pb-4 lg:text-start md:text-6xl pop-pop">
                        SEATING THAT WORKS <br />
                        AS HARD AS YOU DO.
                    </h1>

                    <h1 class="p-2 text-xl font-bold text-center lg:text-start md:text-3xl pop-pop">
                        Classic. Foldable. Solid
                    </h1>
                    <!-- <div class="p-5 border lg:w-[200px] lg:h-[60px] w-[150px] h-[60px] mx-auto lg:mx-0 text-center lg:mt-10 mt-8 inset-0">
              <button class="">Shop Now</button>
        </div> -->

                    <button
                        class="relative left-[150px] lg:left-0 px-10 py-5 mt-8 overflow-hidden font-semibold leading-none tracking-wider uppercase border border-black text-balance btn2 hover:text-white"
                        type="button">
                        <span class="absolute inset-0 bg-black"></span>
                        <span class="absolute inset-0 flex items-center justify-center font-bold">
                            Shop Now
                        </span>
                        Shop Now
                    </button>
                </div>
            </div>

            <div class="relative mx-14">

                <div class="absolute lg:w-[450px] lg:h-[450px] w-24 h-24 bg-[#a2c0bf] rounded-full left-[-150px]">

                </div>
                <div class="flex items-center justify-center w-full h-full">
                    <div class="z-10 lg:w-[600px] lg:h-[630px]  slider-image ml-14">
                        <img src="./assets/pics/slider.png" alt="" srcset=""
                            class="flex items-center justify-center object-cover w-full h-full">
                    </div>
                </div>
                <div class="absolute w-[100px] h-[100px] bg-[#a2c0bf] rounded-full right-0 bottom-0">
                </div>
            </div>
        </div>


    </div>





    <div class="bg-white">
        <div class="max-w-[1500px] mx-auto">
            <div class="grid gap-6 p-5 md:grid-cols-3 lg:grid-cols-3">

                <div class="grid py-10 md:grid-cols-2 bg-[#f1f1f1]">
                    <div class="mx-5 ">
                        <div>
                            <h3 class="text-2xl capitalize pop-pop text-[#495057]">#Living</h3>
                        </div>

                        <div class="py-5">
                            <h2 class="pop-pop text-[#495057] text-2xl"> Wooden <br>Folding Chair.</h2>
                        </div>
                        <p class="italic text-[#495057]">This product is handcrafted by skilled artisans, and therefore will have minor
                            variations. Actual
                            product colour may vary from the images shown due to lighting conditions.</p>


                            <p class="pt-5 text-2xl text-black capitalize pop-pop">Shop Now</p>
                    </div>

                    <div class="flex items-center justify-center">
                        <img src="./assets/pics/category_1.png" alt="" srcset="">
                    </div>
                </div>
                <!-- ------------------- -->
                <div class="grid py-10 md:grid-cols-2 bg-[#f1f1f1]">
                    <div class="mx-5 ">
                        <div>
                            <h3 class="text-2xl capitalize pop-pop text-[#495057]">#Living</h3>
                        </div>

                        <div class="py-5">
                            <h2 class="pop-pop text-[#495057] text-2xl"> Wooden <br>Folding Chair.</h2>
                        </div>
                        <p class="italic text-[#495057]">This product is handcrafted by skilled artisans, and therefore will have minor
                            variations. Actual
                            product colour may vary from the images shown due to lighting conditions.</p>


                            <p class="pt-5 text-2xl text-black capitalize pop-pop">Shop Now</p>
                    </div>

                    <div class="flex items-center justify-center">
                        <img src="./assets/pics/category_2.png" alt="" srcset="" >
                    </div>
                </div>
                <!-- -------------------------- -->
                <div class="grid py-10 md:grid-cols-2 bg-[#f1f1f1]">
                    <div class="mx-5 ">
                        <div>
                            <h3 class="text-2xl capitalize pop-pop text-[#495057]">#Living</h3>
                        </div>

                        <div class="py-5">
                            <h2 class="pop-pop text-[#495057] text-2xl"> Wooden <br>Folding Chair.</h2>
                        </div>
                        <p class="italic text-[#495057]">This product is handcrafted by skilled artisans, and therefore will have minor
                            variations. Actual
                            product colour may vary from the images shown due to lighting conditions.</p>


                            <p class="pt-5 text-2xl text-black capitalize pop-pop">Shop Now</p>
                    </div>

                    <div class="flex items-center justify-center">
                        <img src="./assets/pics/category_3.png" alt="" srcset="">
                    </div>
                </div>
                <!-- ----------------------------  -->




            </div>
        </div>
    </div>
