<header class="fixed top-0 left-0 z-50 w-full bg-transparent" id="header">
    <nav class="container relative mx-auto">
        <div class="flex items-center justify-between mx-2">
            <div class="">
                <img
                    src="../assets/pics/logo-dark.png"
                    alt=""
                    class="h-10 my-2 w-28"
                />
            </div>
            <div class="space-x-6 md:flex">
                <ul
                    class="flex items-center md:static absolute w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500 font-bold capitalize text-xl text-[#3c4858]"
                >
                    <li
                        class="relative mx-2 my-6 font-bold list-none md:my-0 lg:mx-4 group has-child"
                    >
                        <a href="#" class="hover:text-primary text-[#212529]"
                            >Home
                            <i class="text-sm fa-solid fa-chevron-down"></i
                        ></a>
                        <ul class="list-none drop-down-menu">
                            <li class="hover:bg-primary/20">
                                <a
                                    href="index.html"
                                    class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                    >Home one</a
                                >
                            </li>
                            <li class="hover:bg-primary/20">
                                <a
                                    href="../HomeTwo.html"
                                    class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                    >Home two</a
                                >
                            </li>
                            <li class="hover:bg-primary/20">
                                <a
                                    href="../HomeThree.html"
                                    class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                    >Home three</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li
                        class="relative mx-2 my-6 list-none md:my-0 lg:mx-4 group has-child"
                    >
                        <a href="#" class="hover:text-primary text-[#212529]"
                            >Pages
                            <i class="text-sm fa-solid fa-chevron-down"></i
                        ></a>
                        <ul class="list-none drop-down-menu min-w-200">
                            <li class="hover:bg-primary/20">
                                <a
                                    href="../about.html"
                                    class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                    >About Us</a
                                >
                            </li>
                            <li class="hover:bg-primary/20">
                                <a
                                    href="../service.html"
                                    class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                    >Services</a
                                >
                            </li>
                            <li class="hover:bg-primary/20">
                                <a
                                    href="../portfolio.html"
                                    class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                    >Portfolio</a
                                >
                            </li>
                            <li class="hover:bg-primary/20">
                                <a
                                    href="../team.html"
                                    class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                    >Team</a
                                >
                            </li>
                            <li class="hover:bg-primary/20">
                                <a
                                    href="../pricing.html"
                                    class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                    >Pricing</a
                                >
                            </li>
                            <li class="hover:bg-primary/20">
                                <a
                                    href="../404.html"
                                    class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                    >404 Page</a
                                >
                            </li>
                            <li class="hover:bg-primary/20">
                                <a
                                    href="../403.html"
                                    class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                    >403 Page</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li
                        class="relative mx-2 my-6 md:my-0 lg:mx-4 group has-child text-[#212529]"
                    >
                        <a href="#" class="hover:text-primary"
                            >Shop
                            <i class="text-sm fa-solid fa-chevron-down"></i
                        ></a>
                        <ul class="drop-down-menu min-w-200">
                            <li class="hover:bg-primary/20">
                                <a
                                    href="../product.html"
                                    class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                    >Grid View</a
                                >
                            </li>
                            <li class="hover:bg-primary/20">
                                <a
                                    href="../product-details.html"
                                    class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                    >Product Details</a
                                >
                            </li>
                        </ul>
                    </li>

                    <li class="mx-3 my-6 md:my-0 md:mx-4">
                        <a href="../index.html" class="text-[#212529]"
                            >Contact</a
                        >
                    </li>
                    <li class="mx-3 my-6 md:my-0 md:mx-4">
                        <i
                            class="fa-solid fa-magnifying-glass text-[#212529]"
                        ></i>
                    </li>
                    <li class="mx-3 my-6 md:my-0 md:mx-4">
                        <i class="fa-regular fa-user text-[#212529]"></i>
                    </li>
                    <li class="mx-3 my-6 md:my-0 md:mx-4">
                        <i class="fa-solid fa-cart-shopping text-[#212529]"></i>
                    </li>
                    <li class="mx-3 my-6 md:my-0 md:mx-4">
                        <i class="fa-regular fa-heart"></i>
                    </li>
                </ul>
            </div>

            <!-- <div class="hidden space-x-6 md:flex">

                <ul
                    class="text-[#3c4858] flex opacity-100 transition-all ease-in duration-500"
                >
                <li class="relative mx-2 my-6 font-bold md:my-0 lg:mx-4 group has-child">
                    <a href="#" class="hover:text-primary"
                        >Home <i class="text-sm fa-solid fa-chevron-down"></i
                    ></a>
                    <ul class="drop-down-menu min-w-200">
                        <li class="hover:bg-primary/20">
                            <a
                                href="../about.html"
                                class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                >About Us</a
                            >
                        </li>
                        <li class="hover:bg-primary/20">
                            <a
                                href="../service.html"
                                class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                >Services</a
                            >
                        </li>
                        <li class="hover:bg-primary/20">
                            <a
                                href="../portfolio.html"
                                class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                >Portfolio</a
                            >
                        </li>
                        <li class="hover:bg-primary/20">
                            <a
                                href="../team.html"
                                class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                >Team</a
                            >
                        </li>
                        <li class="hover:bg-primary/20">
                            <a
                                href="../pricing.html"
                                class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                >Pricing</a
                            >
                        </li>
                        <li class="hover:bg-primary/20">
                            <a
                                href="../404.html"
                                class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                >404 Page</a
                            >
                        </li>
                        <li class="hover:bg-primary/20">
                            <a
                                href="../403.html"
                                class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                >403 Page</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="relative mx-2 my-6 md:my-0 lg:mx-4 group has-child">
                    <a href="#" class="hover:text-primary"
                        >Pages <i class="text-sm fa-solid fa-chevron-down"></i
                    ></a>
                    <ul class="drop-down-menu min-w-200">
                        <li class="hover:bg-primary/20">
                            <a
                                href="../about.html"

                                class="text-lg font-bold menu-sub-item text-blueGray-600 hover:text-primary"
                                >About Us</a
                            >
                        </li>
                        <li class="hover:bg-primary/20">
                            <a
                                href="../service.html"
                                class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                >Services</a
                            >
                        </li>
                        <li class="hover:bg-primary/20">
                            <a
                                href="../portfolio.html"
                                class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                >Portfolio</a
                            >
                        </li>
                        <li class="hover:bg-primary/20">
                            <a
                                href="../team.html"
                                class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                >Team</a
                            >
                        </li>
                        <li class="hover:bg-primary/20">
                            <a
                                href="../pricing.html"
                                class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                >Pricing</a
                            >
                        </li>
                        <li class="hover:bg-primary/20">
                            <a
                                href="../404.html"
                                class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                >404 Page</a
                            >
                        </li>
                        <li class="hover:bg-primary/20">
                            <a
                                href="../403.html"
                                class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                >403 Page</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="relative mx-2 my-6 md:my-0 lg:mx-4 group has-child">
                    <a href="#" class="hover:text-primary"
                        >Shop <i class="text-sm fa-solid fa-chevron-down"></i
                    ></a>
                    <ul class="drop-down-menu min-w-200">
                        <li class="hover:bg-primary/20">
                            <a
                                href="../product.html"
                                class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                >Grid View</a
                            >
                        </li>
                        <li class="hover:bg-primary/20">
                            <a
                                href="../product-details.html"
                                class="text-lg menu-sub-item text-blueGray-600 hover:text-primary"
                                >Product Details</a
                            >
                        </li>
                    </ul>
                </li>
                </ul>
                <a href="#" class="hover:text-darkGrayishBlue">Community</a>
            </div> -->

            <!-- Hamburger Icon -->
            <button
                id="menu-btn"
                class="block hamburger md:hidden focus:outline-none"
            >
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </button>
        </div>

        <!-- Mobile Menu -->
        <div class="md:hidden">
            <div
                id="menu"
                class="absolute left-0 flex-col self-end hidden w-full h-auto px-3 py-8 mt-0 space-y-6 font-bold bg-white sm:w-full sm:self-center right-6 drop-shadow-md"
            >
                <ul class="">
                    <li class="flex justify-between group has-child">
                        <a href="#" class="hover:text-primary text-[#212529]"
                            >Home
                        </a>
                        <i class="text-sm fa-solid fa-chevron-down"></i>
                    </li>
                    <ul class="px-2 pt-2 min-w-20">
                        <li class="">
                            <a
                                href="index.html"
                                class="text-blueGray-600 hover:text-primary"
                                >Home one</a
                            >
                        </li>
                        <li class="">
                            <a href="../HomeTwo.html" class="hover:text-primary"
                                >Home two</a
                            >
                        </li>
                        <li class="">
                            <a
                                href="../HomeThree.html"
                                class="hover:text-primary"
                                >Home three</a
                            >
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    const btn = document.getElementById("menu-btn");
    const nav = document.getElementById("menu");

    btn.addEventListener("click", () => {
        btn.classList.toggle("open");
        nav.classList.toggle("flex");
        nav.classList.toggle("hidden");
    });
    const scrollHeader = () => {
        const header = document.getElementById("header");

        // When the scroll is greater than 50 viewport height, add the scroll-header class to the header tag
        this.scrollY >= 50
            ? header.classList.add("scroll-header")
            : header.classList.remove("scroll-header");
    };
    window.addEventListener("scroll", scrollHeader);
</script>
