<section class="px-4 py-14 lg:py-20 bg-cover" style="background-image: url('assets/images/breadcrumbs.png');">
    <div class="container mx-auto grid gap-7 lg:gap-14">
        <div class="text-center">
            <div class="inline-block text-center">
                <h2 class="text-primary/80 text-3xl font-bold text-center lg:text-4xl">@@title</h2>
                <div class="flex mt-3 font-semibold text-xl lg:text-2xl">
                    <a href="../index.html" class="text-primary">Home</a>
                    <span class="border-r-2 border-black/60 mx-5 my-2"></span>
                    <h5 class="text-black/60 ">@@title</h5>
                </div>
            </div>
        </div>
</section>